    <section class="section pb-0">
        <div class="container">
            <h3 class="title has-text-centered is size-4">Cookies</h3>
            <div class="columns mt-5 is-8 is-variable is-centered">
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/chocolate-chip-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Chocolate Chip</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <button class="button is-danger">add to cart</button>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/oatmeal-raisin-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Oatmeal Raisin</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <button class="button is-danger">add to cart</button>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/macadamia-nut-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Macadamia Nut</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <button class="button is-danger">add to cart</button>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="container">
            <h3 class="title has-text-centered is size-4"></h3>
            <div class="columns mt-5 is-8 is-variable is-centered">
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/snickerdoodle-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Snickerdoodle</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <button class="button is-danger">add to cart</button>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/peanutbutter-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Peanut Butter</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <button class="button is-danger">add to cart</button>
                            </p>
                        </footer>
                    </div>
                </div>

                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/milk.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Cookie's BFF</p>
                        </div>
                        <footer class="card-footer has-text-centered">
                            <p class="card-footer-item">
                                <button class="button is-danger">add to cart</button>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--modal-->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <h3 class="title mb-6">Login</h3>
            <form>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="Email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="Password">
                    </div>
                </div>
                <div class="mt-6 has-text-centered">
                    <button class="button is-warning ">Login</button>
                </div>
            </form>
        </div>
    </div>
   


   <!--footer-->
   <section class="section pl-0 pr-0">
       <footer class="footer">
            <div class="content has-text-centered">
                <p>Copyright 2022 Cookies for Coders</p>
            </div>
       </footer>
   </section>
   
   
    <script src="assets/js/index.js"></script>
</body>
</html>