<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Cookies for Coders</title>
</head>
<body>
   <nav class="navbar has-shadow">
       <div class="navbar-brand">
           <a class="navbar-item">
               <img src="Images/Cookies for coders.png" alt="logo for website" style="max-height: 65px" class="py-2 px-2">
           </a>
           <a class="navbar-burger" id="burger">
               <span></span>
               <span></span>
               <span></span>
           </a>
       </div>
       
       <div class="navbar-menu" id="nav-links">
            <div class="navbar-end">
                <a class="navbar-item">My Account</a>
                <a class="navbar-item">Cart (0)</a>
            </div>
        </div>
    </nav>

<!--breadcrumb section-->
    <div class="section pt-4 pb-0">
        <nav class="breadcrumb">
            <ul class="container">
                <li><a class="has-text-black">Cookies for Coders</a></li>
                <li><a class="has-text-black">Shop</a></li>
                <li class="is-active"><a>Cookies</a></li>
            </ul>
            <main>

            </main>
        </nav>
    </div>

    <!--Info for products-->
    <!-- <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-3">
                    <h1 class="is-size-4 title has-text-centered">Cookies for Coders</h1>
                    <h2 class="is-size-6 subtitle has-text-centered">Cookies</h2>
                    <p class="has-text-centered">Cookies for those ALL NIGHTERS!!!</p>
                </div>

                <div class="column is-6 has-text-centered">
                    <img src="Images/chocolate-chip-cookie-16.png" alt="pic of cookie" style="max-height: 500px;" class="px-6">
                </div>


                <div class="column is-3 has-text-centered">
                    <div class="is-size-3 mb-4">$2.99</div>
                    <p>The best three dollars you've ever spent! Trust us!</p>
                </div>
                
            </div>
        </div>
    </section> -->



    <section class="section">
        <div class="container">
            <h3 class="title has-text-centered is size-4">Cookies</h3>
            <div class="columns mt-5 is-8 is-variable is-centered">
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/chocolate-chip-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Chocolate Chip</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/oatmeal-raisin-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Oatmeal Raisin</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/macadamia-nut-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Macadamia Nut</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section">
        <div class="container">
            <h3 class="title has-text-centered is size-4"></h3>
            <div class="columns mt-5 is-8 is-variable is-centered">
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/snickerdoodle-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Snickerdoodle</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/peanutbutter-cookie.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Peanut Butter</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>

                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="Images/milk.png" style="max-height: 300px" alt="cookie">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>$2.99</p>
                            <p class="title is-size-5">Cookie's Best Friend</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
    <script src="assets/js/index.js"></script>
</body>
</html>